#!{{ lookPath "sh" }}

set -ex

{{ if eq .chezmoi.os "darwin" -}}
{{ $configuredFile := joinPath .chezmoi.homeDir ".config/packages/brew.txt" }}
{{ if not (stat $configuredFile) }}{{ output "touch" $configuredFile }}{{ end }}
installedFile="$(mktemp)"
# {{$configuredFile}}: {{ include $configuredFile | sha256sum }}
/opt/homebrew/bin/brew bundle dump --force --file="${installedFile}" --brews --casks --no-restart
hasDiff=false
diff ${installedFile} {{$configuredFile}} || hasDiff=true
if ${hasDiff}; then
  read -p "Apply brew diff? (y/N) " -n 1 -r
  echo
  if [[ $REPLY =~ ^[Yy]$ ]]; then
    su -l {{ template "brewuser.tmpl" . }} -c "brew bundle --cleanup --file={{ $configuredFile }}"
  fi
else
  echo "No brew diffs!"
fi
{{ end }}
