{{- /* This deletes an empty string before the template */ -}}
{{ if ne .chezmoidata.brewuser "" }}
  {{- .chezmoidata.brewuser -}}
{{ else }}
  {{- .chezmoi.username -}}
{{ end }}
{{- /* This deletes an empty string after the template */ -}}
