{{- /* This deletes an empty string before the template */ -}}
{{ if ne .chezmoidata.gituser "" }}
  {{- .chezmoidata.gituser -}}
{{ else }}
  {{- .chezmoi.username -}}
{{ end }}
{{- /* This deletes an empty string after the template */ -}}
